site_name: acoupi
site_url: https://acoupi.github.io/acoupi/
nav:
  - Home: index.md
  - Tutorials:
      - tutorials/index.md
      - Installation: tutorials/installation.md
      - Configuration: tutorials/configuration.md
      - Deployment: tutorials/deployment.md
  - How-To Guides:
      - howtoguide/index.md
      - Create a custom program: howtoguide/programs.md
      - Create new data schema: howtoguide/data_schema.md
      - Create new components: howtoguide/components.md
  - Explanation:
      - explanation/index.md
      - Architecture: explanation/architecture.md
      - Data Schema: explanation/data_schema.md
      - Components: explanation/components.md
      - Tasks: explanation/tasks.md
      - Programs: explanation/programs.md
      - System: explanation/system.md
  - Reference:
      - reference/index.md
      - Data: reference/data.md
      - Components: reference/components.md
      - Tasks: reference/tasks.md
      - Programs: reference/programs.md
      - System: reference/system.md
      - CLI: reference/cli.md
  - FAQ: faq.md
  - Index: terms.md
  - About the Project:
      - Authors: authors.md
      - License: license.md
  - Contributing: contributing.md
  - Code of Conduct: code_of_conduct.md
theme:
  name: material
  # logo: assets/logo.svg
  font:
    text: Mulish
  favicon: assets/favicon.svg
  features:
    - content.code.copy
    - navigation.tracking
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - toc.follow
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
plugins:
  - mkdocs-video:
      is_video: True
      video_muted: True
      video_controls: True
      video_autoplay: True
      video_loop: True
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: ["src"]
          import:
            - https://docs.python.org/3.11/objects.inv
            - https://docs.xarray.dev/en/stable/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://docs.celeryq.dev/en/stable/objects.inv
          options:
            show_source: false
            show_root_toc_entry: true
            show_symbol_type_toc: true
            show_root_heading: true
            show_category_heading: true
            show_symbol_type_heading: true
            show_if_no_docstring: true
            docstring_style: "numpy"
            docstring_section_style: "table"
            summary: true
            signature_crossrefs: true
            show_signature_annotations: false
            filters:
              - "!^_"
            docstring_options:
              ignore_init_summary: true
            merge_init_into_class: true
extra_css:
  - css/style.css
markdown_extensions:
  - abbr
  - attr_list
  - def_list
  - footnotes
  - admonition
  - tables
  - pymdownx.critic
  - pymdownx.keys
  - pymdownx.details
  - mkdocs-click
  - md_in_html
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - toc:
      toc_depth: 4
      permalink: "#"
      separator: "_"
watch:
  - docs
  - src
