[Unit]
Description=Acoupi Device: Record, Analyse, Save and Send Results of Audio Recording. 

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/acoupi/src
#ExecStart=/home/pi/acoupi/src/.venv/bin/python3 main.py
ExecStart=/usr/bin/python3 /home/pi/acoupi/src/acoupi/test_acoupi.py
Restart=always
RestartSec=3
TimeoutSec=30

[Install]
WantedBy=multi-user.target
