[Unit]
Description=Batdetect2 Heartbeat

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/acoupi/src/acoupi
ExecStart=/usr/bin/python3 /home/pi/acoupi/src/acoupi/heartbeat.py
Restart=always
RestartSec=3
TimeoutSec=30

[Install]
WantedBy=multi-user.target
